$menuText:#bfcbd9;
$sideBarWidth:200px;
$hideBarWidth:63px;

$menuBg:#304156;
$menuHover:yellow;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

:export {
  menuText:$menuText;
  sideBarWidth:$sideBarWidth;
  hideBarWidth:$hideBarWidth;
  menuBg:$menuBg;
  menuHover:$menuHover;
}
